*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 18px;
  background: #fff;
  color: #000;
  font-weight: 400;
}

body {  
  margin: 0;
  min-width: 300px;
  padding: 0;
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
a, .link {
  color: #000;
  text-decoration: none;
}

a:hover, .link:hover {
  color: green;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3,* + h4,* + h5,* + h6 {
  margin:0.67em 0 0 0;
}

p, ul, ol {
  margin: 0 0 15px 0;
}

* + p, * + ul, * + ol {
  margin-top: 15px;
}

ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
  margin: 0;
}

label{
  font-size: 14px;
  line-height: 16px;
  color: #8d8f92;
  display: block;
  margin: 0 0 8px;
  padding: 0 8px;
  text-transform: uppercase;
}

input,
textarea{
  background: #eaeef1;
  border-radius: 2px;
  border: 0 none;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 10px;
  margin: 0 0 30px;
}

textarea{
  min-height: 159px;
  max-height: 159px;
  height: 159px;
  width: 100%;
  min-width: 100%;
  resize:none; 
}
main{
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}