header.header{
	background-color: #1d2126;
	padding: 28px 0;
	position: relative;
	z-index: 2;
}
.header>.container{
	display: flex;
}
.block-logo{
	padding: 3px 0;
	margin-right: auto;
}
.nav a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #a4aead;
	font-size:14px;
	line-height: 16px;
	font-weight: 600;
}
.nav-item{
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 5px 8px;
	margin-right: 12px;
}
.nav-item:hover{
    border: 2px solid #5b6168;
}
.nav .nav-item:active,.nav .active{
    border: 2px solid #23b7a4;
    color:#23b7a4;
    cursor: default;
}
.hero-background img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero-overlay img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero{
	position: relative;
	width: 100%;
	height: 662px;
	display: flex;
}
.hero-background{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -2;
}
.hero-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.hero-title{
	color: #ffffff;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
}
.hero-foreground{
	color: #ccd0d7;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hero-foreground p{
	max-width: 658px;
}
.hero-description{
	color: #ccd0d7;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.section{
	padding: 86px 0;
}
.modest{
  	max-width: 1170px;
  	margin: 0 auto;
}
.modest-title{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
}
.modest-description{
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.modest-span{
	font-family: "Open Sans";
	font-weight: 700;
}
.media{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 0px;
	margin-top: 15px;
	flex-wrap: wrap;
}
.media li a:hover span{
	color:#fff;
}
.media li a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	line-height: 42px;
}
.media li a {
    display: block;
    background: #c8cdd0;
    width: 60px;
    height: 60px;
    position: relative;}
.media li{
	list-style-type: none;
	border:1px solid white;
}
.media li span{
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	object-fit: cover;
	margin: 0;
}
.media a:hover {
	cursor:pointer;
    opacity:0.7;
}
.border{  
    padding-left: 24px;
    position: relative;
}
.border:before{
	content: "";
	width: 10px;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background: url("../../images/mark-title.gif") repeat-y 0 100%;
}
h2{
    text-transform: uppercase;
}
figure {margin: 0 0 10px;}
.row{
	display: flex;
	/*justify-content: space-between;*/
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.team .row{
	margin: 0 -15px;
}
.col{
	display: flex;
	flex-direction: column;
	padding: 0 15px;
}
.col-25{
	width: 25%;
	padding: 0 15px;
	margin: 0 0 15px;
}
.col-33{
	width: 33.3333%;
}
.col-50{
	width: 50%;
}
.col-1{
	display: flex;
	flex-direction: column;
	width: 55%;
	padding: 0 10px;
}
.col-2{
	display: flex;
	flex-direction: column;
	width: 45%;
	padding: 0 10px;
}
.list{
	counter-reset: number;
	list-style-type: none;
}
.list li::before{
	counter-increment: number;
	content: "0"counter(number);
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #23b7a4;
	color: #fff;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-right: 20px;
    margin-top: 10px;
}
.list li{
	display: flex;
}
.list-header{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
}
.list-description{
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.grey-line{
	height: 3px;
	background-color: #dde1e4;
	width: 100%;
	border:1px solid #e0e9f0;
}
.team-title{
	margin-bottom: 63px;
	line-height: 42px;
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
}
.card-name{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 16px;
	font-weight: 700;
	line-height: 35px;
	text-transform: uppercase;
	margin:0 auto;
}
.card-job{
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.container-team{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.card{
	position: relative;
	cursor: pointer;
}
.card-photo{
	width: 100%;
	position: relative;
}
.team-image{
	margin: 0;
	z-index: 1;
}
.team-image img{
	display: block;
	height: 300px;
    object-fit: cover;
    width: 100%;
}
.card-social{
    display: none;
    z-index: 2;
}
.card:hover .card-info{
	background-color:#3a454d;
}
.social{
	position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	padding: 0px;
	list-style: none;
}
.social li {
    margin: 0 1px 5px 0;
    overflow: hidden;
}
.social li:last-child{margin: 0 0 5px;}
.social li a{
	display: block;
	background: #3a454d;
	width: 50px;
    height: 50px;
    position: relative;
}
.social li a:hover{background: #4e5a62;}
.social li span{
	font-size: 18px;
	color:#fff;
	display: block;
	object-fit: cover;
	position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.card:hover .card-photo .team-image img{
    opacity: 0.4;
}
.card-info{
	background-color: #e1e6ea;
	padding: 20px;
}
.card:hover .card-name{
	color: #fff;
}
.card:hover .card-job{
	color: #fff;
}
.card:hover .card-social{
	display: flex;
}
.column-33{
	width: 33.33%;
	padding: 0 10px;
}
.work{
	background-color: #3a454d;
}
.work-title{
	color: #fff;
	font-family: "Quattrocento Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
}
.work-items{
	position: relative;
}
.work-item img{
	display: block;
	width: 100%;
	height: 265px;
	object-fit: cover;
	cursor: pointer;
}
.work-hidden{
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 0 60px;
}
.plus {
	position: relative;
	width: 100%;
	height: 100%;
}
.plus figure{
	position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.work-description{
	text-transform: uppercase;
	background-color: #292f36;
	color: #fff;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 20px;
}
.info{
	padding: 22px 0;
	color: #ffffff;
	font-family: "Quattrocento Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
.work-items:hover .work-item{
	opacity: 0.4;
}
.work-items:hover .work-hidden{
	z-index: 2;
}
.features{
	background-color: #3a454d;
}
.feature-image{
	margin: 0 0 54px;
}
.feature-image img{
	width: 100%;
	object-fit: cover;
	height: 240px;
	display: block;
}
.features-title{
	color: #fff;
	margin-bottom: 63px;
}
.card-title{
	color: #fff;
	font-family: "Quattrocento Sans";
	font-size: 18px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
}
.card-description{
	color: #dcdfe1;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
.title-what{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 93px;
}
.do-title{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	margin:0 auto;
	text-align: center;
}
.do-description{
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin:0 auto;
	text-align: center;
}
.card-do{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}
.touch-title{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 63px;
}
.title-touch{
	color: #292f36;
	font-family: "Quattrocento Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}
.title-description{
	color: #8d8f92;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
}
span{
	font-family: "Open Sans";
	font-weight: 700;
}
.map img{
	display: block;
    width: 100%;
    height: 346px;
    object-fit: cover;
}
.touch.container,
.touch .row{
	overflow: visible;
}
.touch.container{padding-top: 58px;}
.form{
	background: #ffffff;
	padding: 28px 25px;
	margin: -198px 0 0;
}
.row-form{
	margin: 0 -8px;
	display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: wrap;
}
.col50,
.col100{
	width: 50%;
	padding: 0 8px;
	display: flex;
    flex-direction: column;
}
.col100{width: 100%;}

.footer{
	background-color: #3a454d;
}
.line{
	border: 1px solid #e0e9f0;
    width: 100%;
    background-color: #dde1e4;
    height: 3px;
}
.copyright{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}
.do-image{margin: 0 0 35px;}
.do-image span{
	font-size: 48px;
	color: #23b7a4;
}
.social-footer{
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-footer li{
	display: inline-block;
	margin: 0 5px;
}
.social-footer li a{
	display: block;
	text-decoration: none;
}
.social-footer li a span{
	color: #fff;
	font-size: 18px;
}
.social-footer li a:hover span{
	color:#23b7a4;
}
.footer>.container{
	display: flex;
	justify-content: space-between;
}
.footer-right{
	padding: 40px 10px;
}
.footer-left{
	padding: 40px 0;
}
.block-nav .nav-toggle{
    display: none;
    border-bottom: 17px double #23b7a4; 
    border-top: 6px solid #23b7a4; 
    content:"";
    height: 28px; 
    width:30px;
}
@media (max-width: 990px) {
	.col-1,
	.col-2{
		width: 100%;
	}
	.modest .row{display: block;}
	.list{
		padding: 0;
	}
	.list-description br{display: none;}
	.list li{
		display: block;
		padding: 0 0 0 60px;
		position: relative;
	}
	.list li:before{
		position: absolute;
		top: 0;
		left: 0;
	}
	.col-25,
	.column-33{width: 50%;}
	.info{font-size: 14px;}
}
@media (max-width: 767px) {
	.hero {height: 310px;}
	.hero-title,
	.modest-title,
	.team-title,
	.work-title,
	.title-what,
	.features-title,
	.touch-title{
		font-size: 26px;
    	line-height: 30px;
	}
	.team-title,
	.title-what,
	.features-title,
	.touch-title{margin: 0 0 30px;}
	.feature-image{margin: 0 0 15px;}
	.hero-description,
	.modest-description,
	.list-description,
	.do-description,
	.card-description,
	.title-description{
		font-size: 16px;
    	line-height: 20px;
	}
	.button{padding: 10px 15px;}
	.buttons { margin: 20px 0; }
	.section {padding: 30px 0;}
	.media li a,
	.list li:before{
		width: 40px;
    	height: 40px;
    	font-size: 20px;
    	line-height: 40px;
	}
	.list li{
		padding: 0 0 0 45px;
	}
	.list li:before{
		margin-top: 0px;
		font-size: 16px;
	}
	.list-header{
		font-size: 16px;
    	line-height: 22px;
	}
	p, ul, ol {
	    margin: 0 0 10px 0;
	}
	.button-work{padding: 25px 0 0;}
	.card-do{ margin-bottom: 40px; }
	.do-image{margin: 0 0 15px;}
	.do-title{margin: 0 0 10px;}
	.card-title{line-height: 26px;}
	.touch.container {
    	padding-top: 30px;
	}
	.col-50 {width: 100%;}
	.form{
		margin: 0 0 15px;
		padding: 0;
	}
	.col50, .col100{padding: 0;}
	.footer > .container {display: block;}
	.footer-left,
	.footer-right{
		padding: 10px 0;
	}
	.footer-right{margin: 0 0 10px;}
	.header .container{
		overflow: visible;
	}
	.block-nav .nav-toggle{
		display: block;
	}
	nav{
		position: absolute;
		top: 84px;
		right: -300px;
		width: 300px;
		padding: 10px 15px;
		background-color: #1d2126;
		-webkit-transition: right .3s ease;
		-moz-transition: right .3s ease;
		-o-transition: right .3s ease;
		transition: right .3s ease;
	}
	.nav a{
		display: block;
		margin: 0 0 10px;
	}
	.is-open nav{
		right: 0;
	}
	.wraper{
		width: 100%;
		position: relative;
		overflow: hidden;
	}
}
@media (max-width: 500px) {
	.col-25,
	.column-33,
	.col50{width: 100%;}
}